<a href="https://colab.research.google.com/github/hamza3e/machine-learning-examples/blob/master/Pyspark_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q https://archive.apache.org/dist/spark/spark-2.4.1/spark-2.4.1-bin-hadoop2.7.tgz

In [0]:
!tar xf spark-2.4.1-bin-hadoop2.7.tgz
!pip install -q findspark

In [2]:
  !java -version

openjdk version "11.0.3" 2019-04-16
OpenJDK Runtime Environment (build 11.0.3+7-Ubuntu-1ubuntu218.04.1)
OpenJDK 64-Bit Server VM (build 11.0.3+7-Ubuntu-1ubuntu218.04.1, mixed mode, sharing)

In [0]:
import os

In [0]:
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.4.1-bin-hadoop2.7"

In [4]:
print (os.listdir('./sample_data'))

['README.md', 'anscombe.json', 'mnist_train_small.csv', 'california_housing_train.csv', 'california_housing_test.csv', 'mnist_test.csv']

In [0]:
file_loc = 'california_housing_train.csv'

In [0]:
!cp ./sample_data/california_housing_train.csv ./

In [0]:
import findspark
findspark.init()

In [0]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [0]:
dataset = spark.read.csv(file_loc, inferSchema=True, header =True)

In [0]:
from pyspark.ml.regression import LinearRegression

In [18]:
print (type(dataset))

<class 'pyspark.sql.dataframe.DataFrame'>

In [14]:
dataset.printSchema()

root
 |-- longitude: double (nullable = true)
 |-- latitude: double (nullable = true)
 |-- housing_median_age: double (nullable = true)
 |-- total_rooms: double (nullable = true)
 |-- total_bedrooms: double (nullable = true)
 |-- population: double (nullable = true)
 |-- households: double (nullable = true)
 |-- median_income: double (nullable = true)
 |-- median_house_value: double (nullable = true)

In [12]:
df.show()

+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|longitude|latitude|housing_median_age|total_rooms|total_bedrooms|population|households|median_income|median_house_value|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
|  -114.31|   34.19|              15.0|     5612.0|        1283.0|    1015.0|     472.0|       1.4936|           66900.0|
|  -114.47|    34.4|              19.0|     7650.0|        1901.0|    1129.0|     463.0|         1.82|           80100.0|
|  -114.56|   33.69|              17.0|      720.0|         174.0|     333.0|     117.0|       1.6509|           85700.0|
|  -114.57|   33.64|              14.0|     1501.0|         337.0|     515.0|     226.0|       3.1917|           73400.0|
|  -114.57|   33.57|              20.0|     1454.0|         326.0|     624.0|     262.0|        1.925|           65500.0|
|  -114.58|   33.63|              29.0|     1387.0|         236.0|     671.0|     239.0|       3.3438|           74000.0|
|  -114.58|   33.61|              25.0|     2907.0|         680.0|    1841.0|     633.0|       2.6768|           82400.0|
|  -114.59|   34.83|              41.0|      812.0|         168.0|     375.0|     158.0|       1.7083|           48500.0|
|  -114.59|   33.61|              34.0|     4789.0|        1175.0|    3134.0|    1056.0|       2.1782|           58400.0|
|   -114.6|   34.83|              46.0|     1497.0|         309.0|     787.0|     271.0|       2.1908|           48100.0|
|   -114.6|   33.62|              16.0|     3741.0|         801.0|    2434.0|     824.0|       2.6797|           86500.0|
|   -114.6|    33.6|              21.0|     1988.0|         483.0|    1182.0|     437.0|        1.625|           62000.0|
|  -114.61|   34.84|              48.0|     1291.0|         248.0|     580.0|     211.0|       2.1571|           48600.0|
|  -114.61|   34.83|              31.0|     2478.0|         464.0|    1346.0|     479.0|        3.212|           70400.0|
|  -114.63|   32.76|              15.0|     1448.0|         378.0|     949.0|     300.0|       0.8585|           45000.0|
|  -114.65|   34.89|              17.0|     2556.0|         587.0|    1005.0|     401.0|       1.6991|           69100.0|
|  -114.65|    33.6|              28.0|     1678.0|         322.0|     666.0|     256.0|       2.9653|           94900.0|
|  -114.65|   32.79|              21.0|       44.0|          33.0|      64.0|      27.0|       0.8571|           25000.0|
|  -114.66|   32.74|              17.0|     1388.0|         386.0|     775.0|     320.0|       1.2049|           44000.0|
|  -114.67|   33.92|              17.0|       97.0|          24.0|      29.0|      15.0|       1.2656|           27500.0|
+---------+--------+------------------+-----------+--------------+----------+----------+-------------+------------------+
only showing top 20 rows

In [0]:
from pyspark.ml.linalg import Vectors
from pyspark.ml.feature import VectorAssembler

In [0]:
assembler = VectorAssembler(inputCols=['longitude','latitude','housing_median_age','total_rooms','total_bedrooms','population','households','median_income'],outputCol = 'Attributes')

In [0]:
output = assembler.transform(dataset)

In [26]:
train_data = output.select("Attributes","median_house_value").show()

+--------------------+------------------+
|          Attributes|median_house_value|
+--------------------+------------------+
|[-114.31,34.19,15...|           66900.0|
|[-114.47,34.4,19....|           80100.0|
|[-114.56,33.69,17...|           85700.0|
|[-114.57,33.64,14...|           73400.0|
|[-114.57,33.57,20...|           65500.0|
|[-114.58,33.63,29...|           74000.0|
|[-114.58,33.61,25...|           82400.0|
|[-114.59,34.83,41...|           48500.0|
|[-114.59,33.61,34...|           58400.0|
|[-114.6,34.83,46....|           48100.0|
|[-114.6,33.62,16....|           86500.0|
|[-114.6,33.6,21.0...|           62000.0|
|[-114.61,34.84,48...|           48600.0|
|[-114.61,34.83,31...|           70400.0|
|[-114.63,32.76,15...|           45000.0|
|[-114.65,34.89,17...|           69100.0|
|[-114.65,33.6,28....|           94900.0|
|[-114.65,32.79,21...|           25000.0|
|[-114.66,32.74,17...|           44000.0|
|[-114.67,33.92,17...|           27500.0|
+--------------------+------------------+
only showing top 20 rows

In [25]:
output.columns

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'total_bedrooms',
 'population',
 'households',
 'median_income',
 'median_house_value',
 'Attributes']

In [0]:

regressor = LinearRegression(featuresCol = 'Attributes', labelCol = 'median_house_value')

In [29]:
regressor = regressor.fit(train_data)

AttributeError: ignored